@import "../../../styles/variables.scss";

footer {
	.content {
		padding: 7rem 1rem 3rem 1rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		max-width: 1280px;
		margin: 0 auto;

		.element {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.link {
				display: flex;
				align-items: center;
				width: max-content;
				padding: 0.25rem;
				border-radius: 0.25rem;
				gap: 0.25rem;
				transition: all 0.3s ease-in-out;

				&:hover {
					background: hsla(0, 9%, 77%, 0.1);
					color: $secondary-light;

					img {
						filter: brightness(0) saturate(100%) invert(34%) sepia(100%)
							saturate(439%) hue-rotate(334deg) brightness(94%) contrast(92%);
					}
				}

				img {
					width: 2rem;
				}
			}
		}
	}

	.copyright {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		min-height: 3rem;
		background: $foreground;
	}
}
