@import "../../../styles/variables.scss";

.tooltip {
	position: absolute;
	background: $background;
	color: $copy;
	border: $border;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.3);
	white-space: nowrap;
	left: 120%;
	top: 50%;
	z-index: 9999;
	pointer-events: none;

	&::before {
		content: "";
		position: absolute;
		clip-path: polygon(0 50%, 100% 100%, 100% 0);
		box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.3);
		background: inherit;
		z-index: 9999;
		width: 1rem;
		height: 2rem;
		top: 50%;
		left: -0.9rem;
		transform: translateY(-50%);
	}
}
