@import "../../styles/variables";
.header {
	padding-inline: 1rem;
	background: $foreground;
	z-index: 100;
	box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.5);
	height: $header-height;
}
.header_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin: 0 auto;
	max-width: 1280px;
}

.link {
	font-size: 1rem;
	transition: all 0.3s ease;
	position: relative;
	padding-top: 0.75rem;

	&::before {
		content: "";
		position: absolute;
		border-radius: 0.25rem;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		width: 100%;
		background: $copy-lighter;
	}

	&:hover {
		color: $secondary-content;
	}

	.link_href {
		font-size: inherit;
		text-decoration: underline;
	}
}
