version: "3.8"

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    env_file:
      - ./.env
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Database=CargoTrack;Username=postgres;Password=cargo_password
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      db:
        condition: service_healthy
    networks:
      - cargo-net
  # DATABASE
  db:
    image: postgis/postgis:15-3.3-alpine
    container_name: cargotrack_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: cargo_password
      POSTGRES_DB: CargoTrack
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - cargo-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  osrm:
    image: osrm/osrm-backend
    container_name: cargotrack_osrm
    restart: always
    ports:
      - "5001:5000"
    volumes:
      - ./osrm-data:/data
    command: "osrm-routed --algorithm mld /data/poland-latest.osrm"
    networks:
      - cargo-net

volumes:
  postgres_data:


networks:
  cargo-net:
