$header-height: 5rem;
$sidebar-width: 6rem;
$sidebar-width-open: 16rem;

// colors
$primary: #b32741;
$primary-light: #d43956;
$primary-content: #f8e1e5;
$primary-dark: #891e32;

$secondary: #b35327;
$secondary-light: #d46a39;
$secondary-content: #f8e8e1;
$secondary-dark: #89401e;

$foreground: #292324;
$background: #1b1818;
$border: #453b3d;

$copy: #f9f9f8;
$copy-light: #ddd5d6;
$copy-lighter: #af9da0;

$success: #27b327;
$success-content: #e1f8e1;

$warning: #b3b327;
$warning-content: #000000;

$error: #b32727;
$error-content: #f8e1e1;
