@import "../../styles/variables.scss";

.dashboard_element_wrapper {
	background: $background;
	z-index: 1000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -100%;
	transition: left 0.3s ease;
	padding:  1rem;
	gap: var(--gap);
	display: flex;
	flex-direction: column;
	max-width: clamp(300px, 20vw, 100%);
	max-height: 100vh;
	max-height: 100dvh;

	.header{
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	&.active {
		left: $sidebar-width;

		&.sidebar_open {
			left: $sidebar-width-open;

		}
	}
}
