@import "../../styles/variables.scss";
.dropdown_container {
	text-align: left;
	position: relative;
	border-radius: 0.25rem;
	cursor: pointer;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	background: $secondary;
	color: $secondary-content;
	font-weight: 600;
	text-transform: capitalize;

	.dropdown_input {
		padding: 0.5rem 0.75rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		gap: 0.5rem;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;

		&:hover {
			background: $secondary-dark;
			border-radius: 0.25rem;
		}

		img {
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			&.translate {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}

	.dropdown_menu {
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		padding: 0.5rem;
		position: absolute;
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
		border: 1px solid $border;
		border-radius: 0.25rem;
		overflow: auto;
		background: $foreground;
		z-index: 99;
		max-height: 312px;
		min-height: 50px;
		box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.5);

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background: $background;
		}

		&::-webkit-scrollbar-thumb {
			background: $copy-light;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: $copy-lighter;
		}

		.item {
			padding: 0.5rem 0.75rem;
			cursor: pointer;
			-webkit-transition: background-color 0.35s ease;
			transition: background-color 0.35s ease;
			border-radius: 0.25rem;

			&:hover {
				background: hsla(0, 9%, 77%, 0.1);
				color: $secondary-light;
			}

			&.selected {
				background: hsla(19, 64%, 43%, 0.2);
				color: $secondary-light;

				&:hover {
					color: $foreground;
					background: $secondary-light;
				}
			}
		}
	}
}
