@import "../../styles/variables";
:root {
	--gap: 2rem;
}

.nav_container {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $foreground;
	z-index: 100;

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $header-height;
	padding-inline: 1rem;
	box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.5);

	.logo {
		width: 7.5rem;
		transition: ease-in-out 0.3s scale;

		&:hover {
			scale: 1.05;
		}
	}

	.nav_menu {
		position: fixed;
		top: $header-height;
		right: -100%;
		background: $foreground;
		transition: right 0.4s;

		display: flex;
		flex-direction: column;
		gap: var(--gap);
		padding: 2rem 1rem;
		width: 100%;

		&.showMenu {
			right: 0;
		}

		.nav_links {
			display: flex;
			flex-direction: column;
			gap: var(--gap);
			text-transform: capitalize;
			font-weight: 500;

			a {
				width: fit-content;
				padding: 0.25rem 0.5rem;
				border-radius: 0.25rem;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;

				&:hover {
					background: hsla(0, 9%, 77%, 0.1);
					color: $secondary-light;
				}

				&:active {
					background: hsla(19, 64%, 43%, 0.2);
					color: $secondary-light;

					&:hover {
						color: $foreground;
						background: $secondary-light;
					}
				}
			}
		}

		.nav_buttons {
			display: flex;
			gap: var(--gap);
			flex-direction: column;

			@media screen and (min-width: 415px) {
				flex-direction: row;
			}
		}
	}
}

@media screen and (min-width: 880px) {
	.nav_container {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		margin: 0 auto;
		max-width: 1280px;
		box-shadow: unset;

		&::after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: $header-height;
			background: $foreground;
			z-index: -1;
			box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.5);
		}

		.nav_menu {
			position: static;
			flex-direction: row;
			padding: unset;
			align-items: center;
			justify-content: center;

			.nav_links {
				flex-direction: row;
				justify-content: center;
				align-items: center;
				text-align: center;
				flex: 1;

				a {
					padding: 0.25rem;
				}
			}
			.nav_buttons {
				position: absolute;
				top: $header-height;
				right: -100%;
				background: $foreground;
				transition: right 0.4s;
				justify-content: flex-end;

				display: flex;
				gap: var(--gap);
				padding: 2rem 1rem;
				width: 100%;
				button {
					max-width: 20rem;
				}

				&.showMenu {
					right: 0;
				}
			}
		}

		.toggleBtn {
			margin-left: auto;
		}

		.logo {
			width: 8.75rem;
		}
	}
}

@media screen and (min-width: 975px) {
	.nav_container {
		grid-template-columns: 1fr 3fr;

		.nav_menu {
			.nav_buttons {
				width: auto;
				padding: unset;
				position: static;
				background: unset;
			}
		}

		.toggleBtn {
			display: none;
		}
	}
}
