@import "../../../styles/variables.scss";

.btn {
	outline: none;
	cursor: pointer;
	border: none;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border-radius: 0.25rem;

	transition: transform 0.1s ease-in-out;

	&.small {
		padding: 0.3rem 0.6rem;
	}

	&.normal {
		padding: 0.6rem 1.2rem;
	}

	&.big {
		padding: 1rem 2rem;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	/* ======= PRIMARY BUTTON ======= */
	&.primary {
		background: $primary;
		color: $copy;
		position: relative;
		overflow: hidden;
		z-index: 1;

		span {
			position: absolute;
			top: var(--y);
			left: var(--x);
			width: 0;
			height: 0;
			background-color: $primary-dark;
			border-radius: 50%;
			pointer-events: none;
			transform: translate(-50%, -50%);
			transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
			z-index: -1;
		}

		&:hover {
			span {
				width: 300%;
				height: 300%;
			}
		}

		&:focus-visible {
			outline: 2px solid $primary-light;
			outline-offset: 2px;
		}

		&:active {
			transform: scale(0.98);
			box-shadow: none;
		}
	}

	/* ======= SECONDARY BUTTON ======= */
	&.secondary {
		background: transparent;
		color: $copy;
		border: 1px solid $secondary-content;
		position: relative;
		overflow: hidden;
		z-index: 1;
		transition: border-color 0.4s ease-in-out;

		span {
			position: absolute;
			top: var(--y);
			left: var(--x);
			width: 0;
			height: 0;
			background-color: $secondary-dark;
			border-radius: 50%;
			pointer-events: none;
			transform: translate(-50%, -50%);
			transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
			z-index: -1;
		}

		&:hover {
			border-color: $secondary-light;

			span {
				width: 300%;
				height: 500%;
			}
		}

		&:focus-visible {
			outline: 2px solid $secondary-light;
			outline-offset: 2px;
		}
		&:active {
			transform: scale(0.98);
		}
	}

	/* ======= ICON ONLY BUTTON ======= */

	&.only_icon {
		aspect-ratio: 1/1;

		&.small {
			padding: 0.5rem;
		}

		&.normal {
			padding: 0.75rem;
		}

		&.big {
			padding: 1rem;
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
