#main-home {
	background-image: url("../../assets/home-sm.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
	min-height: 100vh;
	overflow: hidden;
}
article {
	padding-top: 15rem;
}
section {
	min-height: 100vh;
	background-color: grey;
}

@media screen and (min-width: 1024px) {
	#main-home {
		background-image: url("../../assets/home-xl.png");
	}
}
