@import "../../styles/variables.scss";

.btn {
	outline: none;
	cursor: pointer;
	border: none;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border-radius: 4px;

	transition: all ease-in-out 0.3s;

	&.small {
		padding: 0.5rem 1rem;
	}

	&.big {
		padding: 1.5rem 2rem;
	}

	&.primary {
		color: $copy;
		background: $primary;

		&:hover,
		&:active {
			color: $primary-content;
			background: $primary-dark;
			box-shadow: 4px 4px 2px $primary-light;
			scale: 0.95;
		}
		&:focus {
			scale: 1;
		}
	}

	&.secondary {
		background: transparent;
		color: $copy;
		border: 1px solid $copy;

		&:hover,
		&:active {
			color: $secondary-content;
			border-color: $secondary-light;
			box-shadow: -4px 4px 2px $secondary-dark;
			scale: 0.95;
		}
		&:focus {
			scale: 1;
		}
	}

	&.only_icon {
		padding: 0.75rem;
		aspect-ratio: 1/1;
	}
}
