@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lato:wght@300;400&display=swap");
:root {
	--box-shadow: 8px 8px 28px 0px rgba(0, 0, 0, 0.716);

	/* colors */
	--white: #e4e4e4;
	--white-60: rgba(228, 228, 228, 0.6);
	--primary: #d21033;
	--primary-hover: #d210349e;
	--primary-dark: #451616;
	--dark: #161313;
	--dark-60: rgba(22, 19, 19, 0.6);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

html {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: var(--white);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Karla", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
section,
main > article {
	padding: 7rem 0;
}

@media screen and (min-width: 1024px) {
	section,
	main > article {
		padding: 10rem 0;
	}
}
