name: Discord Notifier

on: [push]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send notification
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          content: "Test połączenia! Jeśli to widzisz, to znaczy że Webhook działa."
          title: "TEST"
          color: 0xffff00
